
@font-face {
    font-family: 'ichigojam';
    src: url('../font/IchigoJam-1.4.woff') format('woff');
}
  
body {
    background-color: #fdffe5;
}

header {
    display: flex;
    margin:0;
}

.image{
    width: 230px;
    height: 53px;
    margin: 20px 0px -5px 17px;
    transform: rotateZ( -3deg );
}

.h3{
    margin: -10px 0;
    overflow: hidden;
}

.ichigojam{
    font-family: "ichigojam";
    white-space: pre-wrap;
    /* background: rgb(0, 0, 0); */
    background: rgb(16,185,179);
background: linear-gradient(0deg, rgba(16,185,179,1) 0%, rgba(140,244,111,1) 100%);

    color: white;
    padding: .7em 1em;
    margin: 0 10px 0 10px;
    line-height: 1.3em;
    letter-spacing: 0px;
    font-size: 85%;
    word-break: break-all;
    border-radius: 8px 8px 0 0;
}
    .parameter{
        margin: 0 0 0 0;
        border-radius: 5px;
        align-self: center;
        text-align: center;
    }

#notes {
    background-color: rgb(246, 254, 255);
    padding: 6px 0 6px 0;
    margin: 0 10px 15px 10px;
    border: 1px solid #e7e9e9;
    border-radius: 0 0 8px 8px;
    word-break: break-all; /*文字列の折り返し */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    #note {
        font-size: 10px;
        margin: 6px 6px 0 10px;
        line-height: 15px;
        min-width: 130px;
        min-height: 25px;
        line-height:20px;
        align-self: center;
        text-align: center;
        flex-grow: 1; 
        flex-basis: 0;
    }
    #src {
        font-size: 10px;
        margin: 6px 10px 0 10px;
        line-height:15px;
        width: 100%;
        text-align: center;
        align-self: center;
        /* flex-grow: 1;  */
        /* flex-basis: 0; */
    }

#line {
    border-top: 1px solid #ccc;
    margin:5px 10px 5px 10px;
    width: 100%; 
}

/* チャットエリア全体 */
.container {
    height: 380px;
    resize: both; 
    overflow: scroll;
    padding: 10px 8px;
    margin: 0 10px 0 10px;
    border-radius: 20px;
    background-color: rgb(239, 249, 249);
    box-shadow: 10px 11px 20px 0px rgb(0 0 0 / 40%);
    border-radius: 15px;
    border: 1px solid #e7e9e9;
}

    /* ドット斜め */
    .bg_skew_dot{
        background-color: #fff;
        background-image:
        radial-gradient(#def7f3 20%, transparent 20%),
        radial-gradient(#def7f3 20%, transparent 20%);
        background-size: 40px 40px;
        background-position: 0 0, 20px 20px;
    }

    /* ドット色違い */
    .is-mix{
        background-image:
        radial-gradient(#def7f3 20%, transparent 20%),
        radial-gradient(#ffe3e3 20%, transparent 20%);
    }


/* チャットメッセージ部分 */

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    
}

    #messages > li {
        padding: .5rem 1rem;
        border-radius: 10px;
        background:rgba(255, 255, 255, 0.7);
        display: flex;
        
    }

    #messages > li:nth-child(odd) {
        background: rgb(220, 253, 171);
        border-radius: 10px;
    } 


#icon {

    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #e7eaea;
    border-radius: 50%;
    
    width: 40px;
    height: 40px;
    
    line-height: 40px;
    max-width : 40px;
    min-width : 40px;
    
    padding: 0;
    margin: 0 10 0 10px;

    align-self: center;
    text-align: center;
    
}

#time {
    min-width: 30px;
    font-size: 6px;
    color:gray;
    display: inline-flex;
    padding: 5px 10px 0 15px;
    align-items: center;
    word-break: break-all; /*文字列の折り返し */
 }

 #message {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    word-break: break-all; /*文字列の折り返し */
 }


 /* シャボン玉アニメーション */
 .soap_wrap {
	position: relative;
	height: 10px; /*お好みで*/
    /* flex-shrink: 0; */
}
.soap {
	position: absolute;
	left: calc(50% + 100px); /*お好みで*/
	top: calc(50% - 115px); /*お好みで*/
	width: 100px; /*お好みで*/
	height: 100px; /*お好みで*/
	border-radius: 50% 46% 48% 44%;
	overflow: hidden;
	background: radial-gradient(at 46% 54%, transparent 50%, rgba(2, 172, 253,0.3) 70%, transparent 100%) 50% 50% no-repeat;
	z-index: 1;
}

.soap::before{
	content: "";
	position: absolute;
	right: -10%;
	bottom: -10%;
	width: 60%;
	height: 60%;
	border-radius: 60% 0;
	background: radial-gradient(at 0 0, rgba(0, 130, 255, 0.3) 40%, rgba(255, 154, 204, 0.7) 50%);
	transform-origin: 0 0;
	animation: soap_rotate 15s 0s ease-in-out infinite;
	filter: blur(15px);
}
.soap::after{
	content: "";
	position: absolute;
	left: -10%;
	top: -10%;
	width: 60%;
	height: 60%;
	border-radius: 20% 0;
	background: radial-gradient(at 100% 100%, rgba(255, 255, 100, 0.5) 40%, rgba(120, 255, 140, 0.7) 60%);
	transform-origin: 100% 100%;
	animation: soap_rotate 6s 0s ease-in-out infinite;
	filter: blur(15px);
}

/*ツヤ感アニメーション*/
@keyframes soap_rotate{
	0%{transform: rotate(0);}
	50%{transform: rotate(160deg);}
}